<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.odk.skunkworks_crow">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Device with versions >= Oreo need location permission to start/stop the hotspot -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="org.odk.skunkworks_crow.application.Share"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="org.odk.skunkworks_crow.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.odk.skunkworks_crow.activities.WifiActivity" />
        <activity android:name="org.odk.skunkworks_crow.activities.InstancesList" />
        <activity android:name="org.odk.skunkworks_crow.preferences.SettingsPreference" />
        <activity android:name="org.odk.skunkworks_crow.activities.WebViewActivity" />
        <activity android:name="org.odk.skunkworks_crow.activities.AboutActivity" />
        <activity
            android:name="org.odk.skunkworks_crow.activities.SendActivity"
            android:configChanges="orientation|screenSize" />

        <service android:name="org.odk.skunkworks_crow.services.HotspotService" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity android:name="org.odk.skunkworks_crow.activities.InstanceManagerTabs" />
        <activity android:name="org.odk.skunkworks_crow.activities.ReviewFormActivity" />

        <provider
            android:name="org.odk.skunkworks_crow.provider.TransferProvider"
            android:authorities="org.odk.skunkworks_crow.provider.odk.instances" />
        <provider
            android:name="org.odk.skunkworks_crow.provider.InstanceMapProvider"
            android:authorities="org.odk.skunkworks_crow.provider.odk.map" />

        <activity android:name="org.odk.skunkworks_crow.activities.SendFormsActivity"></activity>
    </application>

</manifest>